#btexit{
	-fx-background-color: transparent;
}

#btexit:hover{
	-fx-background-color: red;
}

.text{
	-fx-background-color: transparent;
	-fx-border-color: #000;
	-fx-border-radius: 10px;
	-fx-font-size: 14px;
}

#thietlap{
-fx-background-color: #337dc6;
-fx-background-radius: 10px;
-fx-font-size: 16px;
}